body {
  background: navy;
  color: #fff;
  font-family: sans-serif;
  font-size: 20px;
}

.wrapper {
  margin: auto;
  max-width: 960px;
}

.gallery {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.gallery .img-box {
  width: 80%;
  margin: auto;
}

.img-box img {
  width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  text-transform: uppercase;
}

p {
  text-indent: 2rem;
}

.horizontal {
  display: flex;
  justify-content: space-between;
}

kbd, td {
  color: gold;
}

table {
    border-collapse: collapse;
}

th {
    text-align: center;
    border: 3px solid white;
    padding: 2px 4px;
}

td {
    padding: 2px 4px;
    text-align: right;
    border: 1px solid white;
}
.comment {
  font-style: italic;
  color: grey;
}

ul {
  list-style: none;
}
